/* font family */
@font-face {
    font-family: Ubuntu_Mono;
    src: url(".././font/Roboto/Roboto-Regular.ttf");
  }
/* font family ends */
*{
    font-family: Ubuntu_Mono;
}
.main_body{
    padding: 0px 0.3rem;
}

/* Menu */
.top_nav_logo{
    width: 4rem;
    height: 4rem;
}

.top_brand_name{
    letter-spacing: 0.15rem;
    font-weight: bold;
    text-shadow: 0 0 black;
}
.top_brand_name p:nth-child(1){
    font-size: 1.7rem;
}
.top_nav_menu_wrap{ 
    background: #000;
    clip-path: polygon(3% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.top_nav_menu_inside{
    height: 100%;
}
ul.top_nav_menu_bar{
    height: 100%;
}
ul.top_nav_menu_bar li {
    
    width: 10rem;
    text-align: center;
}
ul.top_nav_menu_bar li a{
    font-size: 1.2rem;
    color: #ddd;
    display: block;
    height: 100%;
    padding-top: 1.3rem;
    letter-spacing: 0.2rem;
}
ul.top_nav_menu_bar li:hover{
    border-bottom: 0.3rem solid #f00;
}
ul.top_nav_menu_bar li:hover a{
    padding-top: 1.1rem;
    text-shadow: 0 0 #fff;
}
.top_nav_quote a{
    color: #ddd;
    border: 1px solid #ddd;
    padding: 0.7rem;
    text-shadow: 0 0 #fff;
    background: linear-gradient(to right, rgba(255,255,255,1) 50%, rgb(0, 0, 0) 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 1s linear;
}
.top_nav_quote a:hover{
    color: #000;
    background-position: left;
    text-shadow: 0 0 #000;
}
.hamburger_icon{
    display: none;
    width: 3rem;
    height: 3rem;
    background-color: #000;
}

.top_nav_open{
    left: 50%!important;
    transform: translate(-50%,-50%)!important;
    overflow: auto!important;
    background: #000!important;
}

/* banner section starts */

.banner_inside{
    border:1px solid red;
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 60vh;
    background: rgb(58,60,120);
background: linear-gradient(110deg, rgb(90, 93, 184) 0%, rgba(113,150,198,1) 69%);
}
.banner_left{
    padding: 1rem;

}
.banner_left .banner_left_heading p{
    color: tomato;
    font-size: 3.5vw;
}
.banner_left_description{
    margin: 1.5rem 0px;
    width: 70%;
}
.banner_left .banner_left_description p{
    font-size: 1.2vw;
}
.banner_left .banner_left_buttons a{
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid red;
    border-radius:1rem;
    width: 10rem;
}
.banner_left .banner_left_buttons{
    display: flex;
    gap:1rem;
}
.banner_left,.banner_right{
    border:1px solid red;
}
/* banner section ends */